body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    height: 100vh; /* Altura total da viewport */
    margin: 0; /* Remove margens padrão */
}

#quiz {
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#question {
    font-size: 20px;
    margin-bottom: 20px;
}

#options {
    margin-bottom: 20px;
}

#options label {
    display: block;
    margin-bottom: 10px;
}

#submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: #45a049;
}

#result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}